
body {
 margin: 0
 background-image:url('fondo.jpg');;
}

body, input, a {
 font-family: sans-serif;
}

header {
 text-align: center;
}

main {
 max-width: 600px;
 margin: 0 auto;
 background-color: pink;
}

p {
 margin: 1em;
}

label {
 display: block;
 font-size: small;
 font-weight: bold
}

label>* {
 display: block;
 width: 100%
}
